@import url('../../colors.css');
.tags-input {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	min-height: 48px;
	width: 100% !important;
	padding: 0 8px;
	border: 1px solid rgb(214, 216, 218);
	border-radius: 6px;
	
	input {
		flex: 1;
		border: none;
		height: 46px;
		font-size: 14px;
		padding: 4px 0 0 0;
		&:focus {
			outline: transparent;
		}
	}
}

.tags-input{
    padding: 3% 5%;
    width: 100% !important;

    background-color: transparent;
    border: #c6c6c682 solid 1px;
    border-radius: 2rem;
}


.tags-input:focus-within {
    background-color: #ffffff0a;
    outline: none;
    border: 1.5px solid transparent;
    background: 
    linear-gradient(#212733, #212733) padding-box,
    linear-gradient(90deg, rgba(37,232,232,1) 0%, rgba(26,134,233,1) 18%, rgba(68,25,247,1) 37%, rgba(152,34,230,1) 58%, rgba(205,95,190,1) 77%, rgba(227,158,185,1) 100%) border-box; 
}

.taginputbox{
    padding: 5% 5%;

    background-color: transparent;
    border: #c6c6c682 solid 1px;
    border-radius: 5rem;

    color: #fff;
}

#tags {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 8px 0 0 0;
}

.tag {
	width: auto;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 0 8px;
	font-size: 14px;
	list-style: none;
	border-radius: 6px;
	margin: 0 8px 8px 0;
	background: #A81F89;
    cursor: pointer;
	.tag-title {
		margin-top: 3px;
	}
	.tag-close-icon {
		display: block;
		width: 16px;
		height: 16px;
		line-height: 16px;
		text-align: center;
		font-size: 14px;
		margin-left: 8px;
		color: #0052cc;
		border-radius: 100%;
		background: #e2e2e2;
		cursor: pointer;
	}
}

@media screen and (max-width: 567px) {
	.tags-input {
		width: calc(100vw - 32px);
	}
}
