@import url('../colors.css');

.listevents-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-top: 12vh;

    background-color: var(--base);
}
    .listevents-container__header{
        height: 75px;

        display: flex;
        align-items: center;
    } 
    .listevents-container__header-title{
        font-size: 2rem;
        cursor: default;

        background: linear-gradient(90deg, rgba(37, 232, 232, 0.748) 0%, rgb(51, 136, 215) 18%, rgb(127, 104, 216) 37%, rgba(168, 60, 240, 0.809) 58%, rgba(205,95,190,1) 77%, rgba(227,158,185,1) 100%) border-box; ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


.listevent-item{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 5% 5%;

    display: flex;
    flex-direction: column;
    margin: 5% auto;

    overflow: hidden;
    border-radius: 1rem;
    cursor: pointer;
}
    .listevents-item__bgimage{
        position: absolute;
        top: 0%; left: 0%;
        width: 100%;
        height: 100%;

        filter: brightness(80%);

        z-index: -1;
        object-fit: cover;
    }
    .listevent-item__title{
        margin-top: auto;
        margin-bottom: 1rem;

        font-size: 1rem;
        color: #fff;
    }
    .listevent-item__info-container{
        display: flex;
        gap: 1rem;
    }
    .listevent-item__article-item{
        display: flex;
        gap: .2rem;
        align-items: center;

        font-size: .5rem;
        color: #fff;
        opacity: .9;
    }
        .listevent-item__article-item svg{
            width: 15px;
        }

        .listevent-item__favicon{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5%;
            width: 10%;

            opacity: .9;
        }
        .listevent-item__favicon .listevent-item__favicon--colorstroke{
            stroke: var(--text-fade2);
        }


/*Active states*/

.listevent-item__favicon.active .listevent-item__favicon--colorstroke{
    stroke: var(--text-red);
    fill: var(--menu-red);
}