@import url('./colors.css');


.page-container{

}

.timepicker-container,
.account-container,
.explore-container,
.listevents-container,
.savedevents-container,
.createevent-container{
  visibility: hidden;
  opacity: 0;
  
  transition: all .25s ease-in-out;
}


.timepicker-container.active,
.account-container.active,
.explore-container.active,
.listevents-container.active,
.savedevents-container.active,
.createevent-container.active{
  visibility: visible;
  opacity: 1;
  
  transition: all .25s ease-in-out;
}