@import url('./colors.css');

.page-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  
  width: 100%;
  height: 100%;

  overflow: auto;
}

.timepicker-container,
.account-container,
.explore-container,
.listevents-container,
.savedevents-container,
.createevent-container{
  display: none;
  opacity: 0;
}

.timepicker-container.active,
.account-container.active,
.explore-container.active,
.listevents-container.active,
.createevent-container.active{
  display: block;
  opacity: 1;
}

.savedevents-container.active{
  display: grid;
  opacity: 1;
}



/* padding to give space to menu */
.timepicker-container,
.account-container,
.explore-container,
.listevents-container,
.savedevents-container,
.createevent-container{
  padding: 10vh 0;
  width: 100%;
  height: 100%;
}

/* Individual pages */

.listevents-container{
  background-color: var(--base);
}
