@import url('./colors.css');

.page-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  
  width: 100%;
  height: 100%;
  padding: 10vh 0;

  overflow: auto;
}

.timepicker-container,
.account-container,
.explore-container,
.listevents-container,
.savedevents-container,
.createevent-container{
  visibility: hidden;
  opacity: 0;
  
  transition: all .25s ease-in-out;
}


.timepicker-container.active,
.account-container.active,
.explore-container.active,
.listevents-container.active,
.savedevents-container.active,
.createevent-container.active{
  visibility: visible;
  opacity: 1;
  
  transition: all .25s ease-in-out;
}