*, *::before, *::after{
  padding: 0;
  margin: 0;
  font-family: 'main', sans-serif;
  box-sizing: border-box; 
}
a { color: inherit; text-decoration: none; cursor: pointer;} 

html{
  font-size: 16px;
  background-color: #0F0F0F;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  overflow: hidden;
}

#root {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  
  background-color: #252525;
  background-size: cover;
}

@media (min-width: 1200px) {
  #root {
    max-width: 375px;
  }
}

@media (min-width: 1920px) {
  #root {
    max-width: 675px;
  }
}

/* Manually fix material ui date problem */
.MuiDialog-container{
  width: 100vw !important;
  max-width: 575px !important;
  height: 90vh !important;
}
